body {
  overflow: hidden;
}

p {
  margin: 0px;
  display: inline;
}

form {
  display: inline;
}

input {
  width: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 65%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

#slopeFormula {
  position: absolute;
  top: 155px;
  right: 20px;
}

.curve {
  fill: none;
  stroke: black;
}

#goToAppl {
  margin-left: 90px;
}