p {
  margin: 0px;
  display: inline;
}

form {
  display: inline;
}

input {
  width: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

#slopeFormula {
  position: absolute;
  top: 155px;
  right: 20px;
}

.curve {
  fill: none;
  stroke: black;
}

#goToAppl {
  margin-left: 90px;
}