body {
  overflow: hidden;
  font-family: 'PT Sans', sans-serif;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.page {
  height: 100vh;
  position: relative;
}

.flex {
  display: flex;
}

.descContainer {
  height: 75vh;
  width: 45%;
  /* border: solid 1px black; */
}

.vizContainer {
  flex: 1;
}

.step {
  margin-bottom: 10px;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #F05961;
}
a:hover {
  color: #FDACB0;
}
a:active {
  color: #FC8086;
}

.sectionNav {
  position: absolute;
  bottom: 10px;
}

.sectArrow {
  font-size: 25px;  
}