body {
  overflow: hidden;
  font-family: 'PT Sans', sans-serif;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
.disabled-icon {
  opacity: 0.7;
}
.disabled-menuItem {
  color: #F05961;
  opacity: 0.5;
}

.page {
  height: 100vh;
  position: relative;
}

.flex {
  display: flex;
}

.descContainer {
  height: 75vh;
  width: 45%;
}

.vizContainer {
  flex: 1;
}

.step {
  margin-bottom: 10px;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #F05961;
}
a:hover {
  color: #BB1820;
}

.sectionNav {
  position: absolute;
  bottom: 10px;
}

.sectArrow {
  font-size: 25px;  
}