/* GLOBAL/MOBILE STYLES */
.flex {
  display: block;
}

#start {
  font-size: 25px;
}

.menuItem {
  height: 150px;
  width: 100%;
  margin: 20px 0px;
  box-shadow: 0px 0px 5px 1px gainsboro;
  background-color: #FED8DA;
  vertical-align: middle;
}
.menuItem:hover {
  box-shadow: 0px 0px 5px 3px gainsboro;
  cursor: pointer;
  color: #F05961;
}

.menuItemText {
  position: relative;
  top: 41%;
}

.icon {
  float: left;
  height: 125px;
  margin: 11px 25px;
}

/* DESKTOP STYLES */
@media (min-width: 960px) {
  #homeContainer {
    height: 95vh;
    margin: 0px 150px;
    align-items: center;
  }

  #intro {
    width: 50%;
    margin-top: -20vh;
    padding-right: 40px;
  }

  #menu {
    width: 50%;
  }

  .flex {
    display: flex;
  }
}